html {
  behavior: smooth;
}

.marquee {
  position: relative;

  width: var(--marquee-width) !important;
  height: var(--marquee-height) !important;
  overflow: hidden !important;
}

:root {
  --marquee-width: 100vw;
  --marquee-height: 20vh;
  --marquee-elements: 9;
  --marquee-elements-displayed: 4;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 2s);
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling 60s linear infinite;
  overflow: hidden;
}

.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: '';
  z-index: 1;
}

@keyframes scrolling {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}

.marquee-content:hover {
  animation-play-state: paused;
}

.marquee-content li {
  width: var(--marquee-element-width);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: var(--marquee-element-width);
  font-size: 5rem;
  justify-content: center;
  white-space: nowrap;
}

@media (max-width: 900px) {
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
}

div.css-neho2p {
  height: 100px !important;
}

div.css-3drvwh {
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: #793399 !important;
  bottom: 40px !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -6px !important;
}

strong {
  font-weight: bold;
  color: '#663399';
}

.video-ok {
  border-radius: 15px;
  position: relative;
  border-color: transparent;

  background-size: cover;
  background-repeat: no-repeat;

  video {
    outline: 1px solid transparent;

    object-fit: fill;
  }

  video {
    object-fit: fill;
  }
}

@media (max-width: 420px) {
  svg.chakra-icon.iconPlay.css-29ktc9 {
    display: none;
  }
}

// SVG animation here

div.lines.css-3xm7dh {
  svg {
    width: 220vh;
    z-index: -1000;
    stroke: rgb(225, 225, 225);
    opacity: 0.5;
    transform: translate(-100px, 0);
    position: absolute;
    display: inline-block;
  }
}

/*
  path {
    stroke-width: 3px;
    stroke: rgb(252, 251, 172);
    opacity: 1;
    z-index: -1;
    fill: transparent;
    stroke-dasharray: 1390;
    stroke-dashoffset: 1190;
    animation: rayls 4s linear forwards;
    animation-iteration-count: infinite;
    animation-delay: 2s;

    @keyframes rayls {
      0% {
        stroke-dashoffset: 1490;
      }
      20% {
        stroke-dashoffset: 1790;
      }
      40% {
        stroke-dashoffset: 1800;
      }

      80% {
        stroke-dashoffset: 1900;
      }
      100% {
        stroke-dashoffset: 2300;
        opacity: 0.2;
      }
    }
  }
}

*/

// toastify here

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  //Used only for colored theme
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  // Used when no type is provided
  // toast("**hello**")
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  // Used when no type is provided
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

div > button#menu-button-3.chakra-menu__menu-button {
  color: #fff;
}

div.css-wl9x34 {
  height: 100px !important;
}

svg#clipped {
  margin-bottom: 20px !important;
  clip-path: url(#cross) !important;
  -webkit-clip-path: url(#cross) !important;
  -webkit-clip-path: url(#clip0_11350_417) !important;
  clip-path: url(#clip0_11350_417) !important;
}

svg #clipped {
  margin-bottom: 20px !important;
  clip-path: url(#cross) !important;
  -webkit-clip-path: url(#cross) !important;
  -webkit-clip-path: url(#clip0_11350_417) !important;
  clip-path: url(#clip0_11350_417) !important;
}

// animation stars
section.section-stars.css-3xm7dh {
  min-height: 80vh;

  svg {
    background-clip: border-box;
    stroke: #f1e1e7;
    opacity: 0.1;
    width: 1283px;
    height: 80vh;
  }

  span {
    position: absolute;
    top: 40%;
    left: 20%;
    opacity: 0.8;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
      0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    width: 4px;
    height: 4px;
    animation: animate 3s linear infinite;
    animation-delay: 0 !important;
    z-index: 600;
  }
  span::before {
    content: '';
    position: absolute;
    top: 90%;
    transform: translateY(-40%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.605), transparent);
  }

  span:nth-child(2) {
    top: 220px;
    right: 80px;
    animation-delay: 0s;
    animation-duration: 6s;
    opacity: 0.2;
  }

  span:nth-child(3) {
    top: 0;
    right: 80;
    animation-delay: 0s;
    animation-duration: 2s;
  }

  @media (max-width: 400px) {
    span:nth-child(3) {
      top: 0;
      right: 80;
      animation-delay: 0s;
      animation-duration: 2s;
    }
  }

  span:nth-child(4) {
    top: 290;
    left: initial;
    animation-delay: 0s;
    animation-duration: 5s;
  }

  span:nth-child(5) {
    left: 400px;
    animation-delay: 0s;
    animation-duration: 4s;
  }

  span:nth-child(1) {
    top: 0;
    left: 0;
    animation-delay: 0s;
    animation-duration: 3s;
  }
}

@keyframes animate {
  0% {
    transform: rotate(225deg) translate(0);
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(225deg) translate(-990px);
  }
}

@media (max-width: 385px) {
  @keyframes animate {
    0% {
      transform: rotate(230deg) translate(0);
    }

    70% {
      opacity: 1;
    }

    100% {
      transform: rotate(230deg) translate(-950px);
    }
  }
}

@keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}

@media (max-width: 375px) {
  div.btnHomeFlex {
    transform: translate(0px, 45px);
  }
  h2.chakra-heading.css-1qrs5l0 {
    transform: translate(0px, 0px);
  }
}

@media (max-width: 325px) {
  div.btnHomeFlex {
    transform: translate(0px, -25px);
  }
  h2.chakra-heading.css-1qrs5l0 {
    transform: translate(0px, -26px);
  }
}

@media (max-width: 420px) {
  div.css-emczun {
    margin-top: 0rem;
  }
}

@media (max-width: 320px) {
  div.css-emczun {
    margin-top: 4rem;
  }

  h2.chakra-heading.css-k1s9px {
    margin-top: -2rem;
  }

  div.btnHomeFlex {
    margin-top: 6rem;
  }
}

div.css-1r281kh {
  margin: 0 auto;
}

@media (max-width: 370px) {
  p.chakra-text.css-1dbp948 {
    margin-top: -14rem;
  }
}

@media (max-width: 320px) {
  p.chakra-text.css-1dbp948 {
    margin-top: -10rem;
  }
}
